/* Any Element With Class Title */
.title {}

/* any element with id nav */
#nav {}

/* all div elements */
div {}

/* all h2 elements */
h2 {}

p {
  color: #AAEE00;
}

/* ------------------------------------------------------------- */

/* true */
._user-name {}

/* true */
.-user-name {}

/* false */
.1user-name {}

/* false */
.@user-name {}

/* false */
.user@name {}

/* true */
._user10name {}

/* true */
.u {}

/* ------------------------------------------------------------- */

/* bad */
.USERNAME {}

/* bad */
.UserName {}

/* good kebab-case */
.user-name {}

/* good camelCase */
.userName {}

/* bad */
.usernameprofile {}

/* ------------------------------------------------------------- */

/* div {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: blueviolet;
}

.assign-1-shape-2 {
  background-color: rgba(138, 43, 226, 0.5);
}

.assign-1-shape-3 {
  background-color: rgba(138, 43, 226, 0.1);
} */

/* ------------------------------------------------------------- */

/* div {
  width: 400px;
  height: 400px;
  background-image: url('../assets/css-assignment-5-8.png');
}

.assign-2-shape-1 {
  background-repeat: no-repeat;
}

.assign-2-shape-2 {
  background-repeat: repeat-y;
}

.assign-2-shape-3 {
  background-repeat: repeat-x;
} */

/* ------------------------------------------------------------- */

/* div {
  width: 400px;
  height: 400px;
  background-image: url('../assets/css-assignment-5-8.png');

}

.assign-3-shape-1 {
  background-repeat: no-repeat;
}

.assign-3-shape-2 {
  background-repeat: repeat-y;
  background-position: right 0%;
}

.assign-3-shape-3 {
  background-repeat: repeat-x;
  background-position: 0% 100%;
} */

/* ------------------------------------------------------------- */

/* div {
  width: 400px;
  height: 400px;
  background-image: url('../assets/css-assignment-5-8.png');
}

.assign-4-shape-1 {
  background-repeat: no-repeat;
  background-size: 80% 80%;
}

.assign-4-shape-2 {
  background-size: 80% 80%;
  background-repeat: repeat-y;
  background-position: right bottom;
}

.assign-4-shape-3 {
  background-size: 80% 80%;
  background-repeat: repeat-x;
  background-position: center bottom;
}

.assign-4-shape-4 {
  background-repeat: no-repeat;
  background-position: right bottom;
} */

/* ------------------------------------------------------------- */

/* div {
  display: inline-block;
  background-color: rgb(212, 212, 212);
  padding: 20px;
  border: 5px solid green;
  outline: 5px solid;
  margin: 10px;
}

.Shape-1 {
  border-color: red;
}

.Shape-2 {
  border-color: blue green;
}

.Shape-3 {
  border-style: dashed;
  border-color: red green blue yellow;
} */

/* ------------------------------------------------------------- */

div {
  width: 400px;
  background-color: rgb(212, 212, 212);
  padding: 5px;
  border-left: 3px black solid;
  outline: 5px solid rgb(212, 212, 212);
  padding-left: 10px;
  margin: 10px;
}

.Shape-2 {
  visibility: hidden;
}

.Shape-3 {
  border-left: rgb(0, 150, 136) solid 3px;
}

.Shape-1 {
  border-left: rgb(233, 30, 99) solid 3px;
}